.parent {
    width: 500px;
    border: 1px solid red;
    margin: auto;
    text-align: center;
    
  }
  
  .child {
    border-radius: 10%;
    width: 65px;
    height: 65px;
    margin: 20px;
    display: inline-block;
  }
  .one {
    background-color: powderblue;
  }
  
  .two {
    top: 15px;
    left: 20px;
    background-color: royalblue;
    position: relative;
  }
  
  .three {
    background-color: sienna;
  }
  
  .four {
    background-color: slateblue;
  }

  .cssProp p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0%;
    padding: 0%;
  }

  p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  .one1 {
    background-color: powderblue;
  }
  
  .two2 {
    top: 830px;
    left: 400px;
    background-color: royalblue;
    position: absolute;
  }
  
  .three3 {
    background-color: sienna;
  }
  
  .four4 {
    background-color: slateblue;
  }
  .intro {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 18px;
  }
  .intro2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  .intro3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
  }